/* ==========================================================================
   Button group
   ========================================================================== */

/**
 * Create a visual connection between UI actions that belong together.
 * Must only contain `ButtonGroup-item` objects as children.
 *
 * Example HTML:
 *
 * <div class="ButtonGroup">
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Dashboard</a>
 *     </div>
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Account</a>
 *     </div>
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Logout</a>
 *     </div>
 * </div>
 */

/**
 * Button group
 *
 * 1. Remove inter-child whitespace for all non-monospace font-families.
 * 2. Protect against WebKit bug with optimizelegibility
 * 3. Prevent wrapping across multiple lines.
 */

.ButtonGroup {
    display: inline-block;
    letter-spacing: -0.31em; /* 1 */
    text-rendering: optimizespeed; /* 2 */
    vertical-align: middle;
    white-space: nowrap; /* 3 */
}

/**
 * Hack to remove inter-child whitespace in Opera for Windows. All other
 * supported browsers will drop the ruleset.
 */

.opera:-o-prefocus,
.ButtonGroup {
    word-spacing: -0.43em;
}

/**
 * Button group item
 *
 * 1. Reset the text defaults altered in `ButtonGroup`.
 * 2. Ensure that adjacent button borders slide over each other. Must match the
 *    value of the button border width.
 * 3. Provide a consistent vertical alignment and avoid vertical whitespace in
 *    the component.
 */

.ButtonGroup-item {
    display: inline-block;
    letter-spacing: normal; /* 1 */
    margin-left: -1px; /* 2 */
    text-rendering: auto; /* 1 */
    vertical-align: top; /* 3 */
    word-spacing: normal; /* 1 */
}

.ButtonGroup-item:first-child {
    margin-left: 0;
}

/**
 * Ensure that interactions with a button make it sit on top of other buttons
 * in the group.
 */

.ButtonGroup-item .Button:hover,
.ButtonGroup-item .Button:focus,
.ButtonGroup-item .Button:active,
.ButtonGroup-item .Button.is-pressed {
    z-index: 1;
}

/**
 * Remove the `border-radius` on adjacent sides of Button descendants.
 *
 * We can rely on these pseudo-class selectors because one of the ButtonGroup
 * requirements is that it only contains ButtonGroup-item as children.
 *
 * All browsers that support `border-radius` also support `:not()`.
 */

.ButtonGroup-item:not(:first-child):not(:last-child) .Button {
    border-radius: 0;
}

.ButtonGroup-item:first-child:not(:only-child) .Button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.ButtonGroup-item:last-child:not(:only-child) .Button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/**
 * Modifier: vertically stacked buttons
 */

.btn-group--vertical .btn-group__item {
    display: block;
    margin-left: 0;
    margin-top: -1px;
}

.btn-group--vertical .btn {
    display: block;
    width: 100%;
}
