/* ==========================================================================
   Button group
   ========================================================================== */

/**
 * Create a visual connection between UI actions that belong together.
 * Must only contain `ButtonGroup-item` objects as children.
 *
 * Example HTML:
 *
 * <div class="ButtonGroup">
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Dashboard</a>
 *     </div>
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Account</a>
 *     </div>
 *     <div class="ButtonGroup-item">
 *         <a class="Button" href="#">Logout</a>
 *     </div>
 * </div>
 */

/**
 * Button group
 *
 * 1. Prevent wrapping across multiple lines.
 * 2. Remove inter-child whitespace for all non-monospace font-families.
 * 3. Protect against WebKit bug with optimizelegibility
 */

.ButtonGroup {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap; /* 1 */
    letter-spacing: -0.31em; /* 2 */
    text-rendering: optimizespeed; /* 3 */
}

/**
 * Hack to remove inter-child whitespace in Opera for Windows. All other
 * supported browsers will drop the ruleset.
 */

.opera:-o-prefocus,
.ButtonGroup {
    word-spacing: -0.43em;
}

/**
 * Button group item
 *
 * 1. Ensure that adjacent button borders slide over each other. Must match the
 *    value of the button border width.
 * 2. Provide a consistent vertical alignment and avoid vertical whitespace in
 *    the component.
 * 3. Reset the text defaults altered in `ButtonGroup`.
 */

.ButtonGroup-item {
    display: inline-block;
    margin-left: -1px; /* 1 */
    vertical-align: top; /* 2 */
    letter-spacing: normal; /* 3 */
    word-spacing: normal; /* 3 */
    text-rendering: auto; /* 3 */
}

.ButtonGroup-item:first-child {
    margin-left: 0;
}

/**
 * Ensure that interactions with a button make it sit on top of other buttons
 * in the group.
 */

.ButtonGroup-item .Button:hover,
.ButtonGroup-item .Button:focus,
.ButtonGroup-item .Button:active,
.ButtonGroup-item .Button.is-pressed {
    z-index: 1;
}

/**
 * Remove any `border-radius` where appropriate.
 */

.ButtonGroup-item:not(:first-child):not(:last-child) .Button {
    border-radius: 0;
}

.ButtonGroup-item:first-child .Button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ButtonGroup-item:last-child .Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
